body{
    background-color: #FFDAE6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
  font-family: 'yekan';
  src: url('./BYekan/BYekan+.ttf') format('woff2');
}

.box{
    width: 366px;
    height: 500px;
    background-color: #FFEEF4;
    box-shadow: -15px 20px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
}

.aks {
    width: 300px;
    /* height: 390px; */
    background-color: black;
    border-radius: 20px;
    margin-top: 50px;
    overflow: hidden; 
}

.aks img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


#playBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none; 
}

#playBtn:focus {
    outline: none;
}


.music{
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-top: 20px;
}

.text{
    font-family: 'yekan';
    font-size: 24px;
    color: #000000;
    margin-top: 60px;
}

